{# very bad code #}
📍 {{date.strftime("%A")}}, {{date.day}} {{date.strftime("%B")}}<br>
{% for pair_number, subgroups_lessons in pairs.items() %}
    {% for lessons in subgroups_lessons %}
    {% if lessons[1] %}
        {% if lessons[0].subject.name == lessons[1].subject.name %}
            {{ lessons[0].subject.name }}
        {% else %}
            {% for lesson in lessons %}
                {{lesson.subject.name}}{% if not loop.last %} | {% endif %}
            {% endfor %}
        {% endif %}
    {% else %}
        {{lessons[0].subject.name}}
    {% endif %} —
    {% for lesson in lessons %}
        {{lesson.cabinet.room}}{% if not loop.last %} | {% endif %}
    {% endfor %}
    <br>
    {{lessons[0].start_time.strftime("%H:%M")}} — {{lessons[0].end_time.strftime("%H:%M")}}
    <br>
    <br>
    {% endfor %}
{% endfor %}
