📚 {{ date.strftime('%A, %m %B') }} — {{ group.full_name }}
<br>
<br>
{% for index, seminar in grouped_seminars.items() %}
    {{ index }}️⃣ <b>{{ seminar.name }}</b> — {{ seminar.cabinet }}
    <br>
    {FOURSPACES} {{ seminar.time }}
    <br>
    <br>
{% endfor %}
