📚 {{ date.strftime('%A, %d %B') }}
<br>
👥 {{ group.full_name }}
{% if sub_group != 0 %}
({{ sub_group }} подгруппа)
{% endif %}
<br>
<br>
{% for index, seminar in grouped_seminars.items() %}
    {{ index }}️⃣ <b>{{ seminar.name }}</b> — {{ seminar.cabinet }}
    <br>
    {FOURSPACES} {{ seminar.time }}
    <br>
    <br>
{% endfor %}
