📘 Параплан 2.4.1
<br><br>
Исходный код: https://github.com/paraplan/telegram-bot
<br>
Что нового: https://github.com/paraplan/telegram-bot/releases/tag/v2.4.1
<br>
При ошибках пишите @vodogamer либо открывайте issue на гитхабе
